*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
}

.dice
{
    border: 1px solid black;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    font-size: 30px;
    text-align: center;
    line-height: 100%;
}